body {
  margin: 0px;
  padding: 0px;
  background-color: #efeff5;
  font-family: system-ui;
}
.clearfix {
  clear: both;
}
.logo {
  margin: 0px;
  margin-left: 28px;
  font-weight: bold;
  color: white;
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
}
.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: linear-gradient(0deg, rgb(108, 224, 219), rgb(2, 148, 189));
  overflow: hidden;
  padding-top: 30px;
  transition: ease-in-out 0.3s;
}
.menu {
  float: right;
  margin-right: 20px;
  cursor: pointer;
}
.logo1 {
  margin: 0px;
  margin-left: 20px;
  font-weight: bold;
  color: white;
  margin-bottom: 50px;
  display: none;
  cursor: pointer;
}
.menu1 {
  float: left;
  display: none;
}
.sidenav a {
  padding: 15px 8px 15px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #d8d8d8;
  display: block;
}
.sidenav a:hover {
  color: #ffffff;
  background-color: rgb(2, 134, 170);
}
.sidenav {
  top: 0;
  right: 25px;
  font-size: 30px;
}
#main {
  padding: 16px;
  margin-left: 300px;
}
.head {
  padding: 0px 6px;
  border-bottom: 1px solid #d6d6d8b8;
  padding-bottom: 10px;
}
.col-div-6 {
  width: 50%;
  float: left;
}
.profile {
  display: inline-block;
  float: right;
  width: 57px;
  color: #000000;
}

.out {
  border-radius: 10px;
  margin-top: 10px !important;
  padding: 15px;
  color: rgb(44, 44, 44);
  background-color: rgb(196, 196, 196);
  position: absolute;
  right: 16px;
  top: 0px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.col-div-4-1 {
  width: 50%;
  float: left;
}
.box-events {
  width: 92%;
  height: 130px;
  background-image: linear-gradient(
    0deg,
    rgb(240, 193, 106),
    rgb(245, 159, 29)
  );
  border-radius: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 2px 5px 10px #ddd;
  position: relative;
}
.box-viewEvents {
  width: 92%;
  height: 130px;
  background-image: linear-gradient(
    0deg,
    rgb(156, 203, 247),
    rgb(29, 148, 245)
  );
  border-radius: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 2px 5px 10px #ddd;
  position: relative;
}
.box-viewResults {
  width: 92%;
  height: 130px;
  background-image: linear-gradient(0deg, rgb(108, 224, 137), rgb(117, 189, 2));
  border-radius: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 2px 5px 10px #ddd;
  position: relative;
}
.box-votes {
  width: 92%;
  height: 130px;
  background-image: linear-gradient(0deg, rgb(230, 139, 139), rgb(197, 85, 57));
  border-radius: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 2px 5px 10px #ddd;
  position: relative;
}
.box-events p,
.box-viewResults p,
.box-viewEvents p,
.box-votes p {
  color: #eeeeee;
  font-weight: 500;
  padding-left: 30px;
}
.number {
  font-size: 40px;
  margin-bottom: 0px;
  margin-top: 20px;
}

.head-1 {
  font-size: 25px !important;
  margin: 10px 0px;
  color: #eeeeee;
}

.head-2 {
  font-size: 18px !important;
  margin: 10px 0px;
  color: #6c7293;
}

.box-icon {
  font-size: 20px !important;
  margin-top: 35px !important;
  color: #189ab1;
  padding-right: 10px;
  background-color: #efeff5;
  padding: 15px;
  border-radius: 25px;
  position: absolute;
  right: 16px;
  top: -18px;
}

.box-1 {
  width: 92%;
  height: 300px;
  background-color: #d1eaf8;
  border-style: groove;
  border-width: 3px;
  border-color: #189ab1;
  border-radius: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 2px 5px 10px #ddd;
  position: relative;
}
.m-box {
  color: #6c7293;
  position: relative;
  padding: 0px 12px;
}
.active {
  background-color: rgb(21, 179, 223);
  color: white;
  box-shadow: 4px 3px 7px 3px #3226ad54;
}
.active .no-1 {
  color: #ddd !important;
}
.m-box p {
  display: inline-block;
  margin: 10px 0px;
}
.no {
  position: absolute !important;
  top: 21px;
  right: 15px;
  font-weight: 500;
}
.no-1 {
  font-size: 12px;
  color: #9398b1;
}

.plus {
  border-radius: 10px;
  margin-top: 35px !important;
  padding: 15px;
  color: rgb(238, 167, 34);
  background-color: rgb(248, 221, 170);
  position: absolute;
  right: 16px;
  top: 0px;
  box-shadow: 0 14px 14px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
}
.calender {
  border-radius: 10px;
  margin-top: 35px !important;
  padding: 15px;
  color: rgb(34, 163, 238);
  background-color: rgb(170, 213, 248);
  position: absolute;
  right: 16px;
  top: 0px;
  box-shadow: 0 14px 14px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
}
.pie {
  border-radius: 10px;
  margin-top: 35px !important;
  padding: 15px;
  color: rgb(109, 238, 34);
  background-color: rgb(186, 248, 170);
  position: absolute;
  right: 16px;
  top: 0px;
  box-shadow: 0 14px 14px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
}

.refresh {
  border-radius: 10px;
  margin-top: 35px !important;
  padding: 15px;
  color: rgb(221, 53, 53);
  background-color: rgb(243, 170, 170);
  position: absolute;
  right: 16px;
  top: 0px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

button {
  border: 1px solid #ffffff;
  color: #000000;
}
button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button:hover {
  background: #f3f3f3;
}

button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

button .act-p {
  font-size: 13px;
  color: #6c7293;
}
.act-p .fa {
  color: orange !important;
}

.content-box-1 {
  padding: 0px 10px;
}

.col-div-4 {
  width: 30%;
  float: left;
}
.content-box {
  padding: 20px;
}
.content-box p {
  margin: 0px;
  font-size: 20px;
  color: #6c7293;
}
.content-box p span {
  float: right;
  background-color: #189ab1;
  color: white;
  padding: 3px 10px;
  font-size: 15px;
}
.box-8 {
  width: 97.8%;
  background-color: #fff;
  height: 330px;
}

.nav {
  font-size: 30px;
  cursor: pointer;
  color: #6c7293;
  margin: 11px 0px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color: #6c88be;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #189ab129;
  color: #6c7293 !important;
}
.circle-wrap {
  margin: 50px auto;
  width: 150px;
  height: 150px;
  background: #e6e2e7;
  border-radius: 50%;
}
.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}
.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .circle .mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #189ab1;
}
.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(126deg);
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(126deg);
  }
}
.circle-wrap .inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #fff;
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
  color: #6c7293;
}
